<footer class="footer bg-light py-6">
    <div class="container">
      <div class="row">
        <div class="col-md-6 my-3">
          <h6>About App Storage</h6>
          <p>
            Une solution innovante et sécurisée pour stocker, 
            gérer et protéger 
            vos données en toute simplicité.
            Realiser Par Spring Boot Team Tekup :
            Aziz Msahli,
            Mariem Rebhi,
            Sinda Haboubi,
            Chaima rezgui et
            Halloul Nourallah
          </p>
        </div>
        
        <div class="col-md-6 my-3">
          <div class="mb-4 d-flex justify-content-center">
            <a href="#" class="text-decoration-none">
              <i class="fab fa-facebook fa-3x text-dark mx-2"></i>
            </a>
            <a href="#" class="text-decoration-none">
              <i class="fab fa-twitter fa-3x text-dark mx-2"></i>
            </a>
            <a href="#" class="text-decoration-none">
              <i class="fab fa-instagram fa-3x text-dark mx-2"></i>
            </a>
            <a href="#" class="text-decoration-none">
              <i class="fab fa-pinterest fa-3x text-dark mx-2"></i>
            </a>
          </div>
          <p >
            We would love to hear from you
            <a href="mailto:contact@site.com"
              ><strong>contact@site.com</strong></a
            >
          </p>
        </div>
      </div>
    </div>
  </footer>
