<link rel="stylesheet" href="/css/footer.css">

<footer class="footer bg-primary py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 my-3">
        <h6 class="text-white mb-3">About AppStorage</h6>
        <p class="text-white">
          An innovative and secure solution to store, manage, and protect your data with ease.
        </p><br>
        <p class="text-white">
          Developed by the Spring Boot Team TEK-UP: <br>
          Aziz Msahli, Mariem Rebhi, Sinda Haboubi, Chaima Rezgui et Halloul Nourallah
        </p>
      </div>

      <div class="col-md-6 my-3 text-center">
        <h6 class="text-white mb-3">Connect with us</h6>
        <div class="social-icons">
          <a href="#" class="text-decoration-none mx-3">
            <i class="fab fa-facebook fa-2x text-white"></i>
          </a>
          <a href="#" class="text-decoration-none mx-3">
            <i class="fab fa-twitter fa-2x text-white"></i>
          </a>
          <a href="#" class="text-decoration-none mx-3">
            <i class="fab fa-instagram fa-2x text-white"></i>
          </a>
          <a href="#" class="text-decoration-none mx-3">
            <i class="fab fa-pinterest fa-2x text-white"></i>
          </a>
        </div>
        <p class="text-white mt-4">
          We would love to hear from you! <br>
          <a href="mailto:contact@site.com" class="text-decoration-none text-light"><strong>contact@site.com</strong></a>
        </p>
      </div>
    </div>
  </div>
</footer>
